@import 'style/variables.scss';
.text-primary {
  color: $primary;
}

.bg-primary {
  background-color: $primary;
}

.bg-base {
  background-color: #f1f3f1;
}
.text-base {
  color: #bfbfbf;
}
.text-content {
  color: #9a9a99;
}
.text-second {
  color: #878787;
}
.btn-primary {
  background-color: $primary;
  color: #fff;
  width: 92% !important;
  font-weight: 500;
  font-size: 34rpx;
  margin: 30rpx auto;
  padding: 20rpx;
}

.input-pl::placeholder {
  color: $thirdFontColor;
}

.text-border{
  border: 1px solid #f5820f;
}
