$primary: #f5820f;

$statusbar-index:#f4bc1f;
$bgColor:#f3f4f6;
$listBgColor:#ffffff;
//三种字体颜色
$firstFontColor:#363636;
$secondFontColor:#b2b2b2;
$thirdFontColor:#c5c5c5;
$BusinessColor:#dd7b51;
$outOfBusinessColor:#a8a8a8;
$addBgColor:#e6e6e6;
$starticonfont:#6bbf92;
$moneyColor:#cb453e;
// 弹出层
$popBg:#191919;
// 字体
$Od-textRed:#f75353;

// 渐变按钮
$Od-gradientButton:-webkit-gradient(linear, left top, right top, from(#fa8d07), to(#f17716));
// 渐变图标
$Od-gradient-colorActive:-webkit-gradient(linear, left top, right top, from(#ff8585), to(#f75353));
$Od-gradient-color:-webkit-gradient(linear, left top, right top, from(#ffcca3), to(#ff9023));

//切换小区
$change-type:#505050;
$nbartype:#333333;

$information:#ababab;
//我的钱包
$money-bgcolor:#fe5935;
$top-uptypecolor:#585858;
//积分
$inte-bgcolor:#3b89d9;
$inte-type:#59c535;

//社区停车
$bgColorGreen:#38bc83;
//物业服务
$iconPurple:#6a8fea;
$iconPink:#fb6b6a;
$iconGreen:#72d153;
$iconBlue:#399ade;
