/* pages/serve/fleaMarket/shopDetail/shopDetail.wxss */
// .img {
//   background-image: url('https://soft2176-use.oss-cn-hangzhou.aliyuncs.com/%E5%A4%B4%E5%83%8F/head-u-1.jpg');
// }
.bottom-bar{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 10vh;
}
.wrap {
  width:650rpx;
  word-break: break-word;
}
.btn {
  width: 200rpx !important;
  padding: 20rpx;
  color: #fff;
  font-weight: 500;
  font-size: 35rpx;
  background-color: #f17815;
}