/* pages/user/kaijufapiao/kaijufapiao.wxss */
.btn {
  margin-right: 20rpx;
  width: 300rpx;
  height: 130rpx;
  border: 2px solid #c9cac9;
  color: #c9cac9;
}
.text-border{
border: 2px solid orange;
}
.text-orange{
  color: #f49330;
}

