/* pages/serve/merchants/placeOrder/placeOrder.wxss */
.list {
  width: 100%;
  height: 100%;
  padding-top: 28rpx;
}

.checkbox {
  float: right;
}

.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 10rpx;
}

.btn {
  width: 200rpx !important;
  padding: 10rpx;
  color: #fff;
  font-weight: 500;
  font-size: 35rpx;
  background-color: #f17815;
}

.bottom-board{
  width: 100%;
  height: 150rpx;
}
.myshop {
  position: fixed;
  right: 0;
  top: 40%;
  width: 7vw;
  background-color: rgba(245, 117, 4, 0.7);
  color: white;
}