/* pages/index/community-park/rental-car/rental-car.wxss */

input {
  position: absolute;
  right: 2px;
  width: 200rpx;
}

.bottom-bar{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.money{
  color: #f17815;
  font-size: 110%;
  line-height: 2;
  text-align: center;
}

.btn {
  width: 100% !important;
  height: 100rpx;
  color: #fff;
  font-weight: 500;
  font-size: 35rpx;
  line-height: 2;
  margin-top: 5%;
  background-color: #f17815;
}