/* pages/user/setPassword/setPassword.wxss */
.input_content {
  margin: 38rpx 40rpx;
  padding: 10rpx;
  background-color: #fff;
  border-radius: 5px;

  .top {
    height: 110rpx;
    display: flex;
    align-items: center;
    border-bottom: 1rpx solid #f6f6f6;
    margin-left: 11px;

    .icon {
      width: 35rpx;
      height: 35rpx;
    }
    input {
      margin: 15px 10px;
    }

    &__send {
      float: right;
      margin-left: 110rpx;
    }
  }
}


.btn_login {
  width: 90% !important;
  height: 100rpx;
  background: #f5820f;
  padding: 26rpx;
}
