/* pages/user/forgetPassword/forgetPassword.wxss */
.input_content {
  margin: 28rpx 30rpx;
  padding: 10rpx;
  background-color: #fff;
  border-radius: 10px;

  .top {
    height: 110rpx;
    display: flex;
    align-items: center;
    border-bottom: 1rpx solid #f6f6f6;
    margin-left: 11px;

    .icon {
      width: 35rpx;
      height: 35rpx;
    }

    .youjian {
      width: 35rpx;
      height: 25rpx;
    }

    input {
      margin: 15px 10px;
    }

    &__send {
      float: right;
      margin-left: 60rpx;
      margin-top: -30rpx;
    }
  }
}


