/* pages/index/home/info/info.wxss */
.card {
    margin: auto;
    display: block;
    overflow: hidden;
  
    &__content {
      display: flex;
      margin-bottom: 20rpx;
      border-radius: 10rpx;
      background-color: #fff;
      &__img {
        width: 200rpx;
        height: 160rpx;
        margin-right: 20rpx;
        border-radius: 6rpx;
      }
      &__desc {
        display: flex;
        align-items: center;
        padding: 0 30rpx;
        &__text1 {
          font-size: 28rpx;
          text-align: left;
          line-height: 40rpx;
          color: rgb(66, 65, 65);
          height: 100%;
          overflow: hidden;
        }
      }
    }
  
  
  }